@import "./fonts.css";

html {
    font-family: "Inter";
    font-size: clamp(14px, 1.5vw, 18px);
}

.fckscp-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    @apply text-accent text-center leading-[1];
}

a {
    @apply underline text-accent;
}

.bg-accent a {
    @apply !text-white;
}