@import "./fonts.css";

html {
    font-family: "Inter";
    font-size: clamp(14px, 1.5vw, 18px);
}

.fckscp-title {
    font-weight: 700;
    margin-bottom: 1rem;
    @apply text-3xl md:text-4xl text-accent-dark text-center leading-[1];
}

a:not(.fcksvp-button) {
    @apply underline text-accent-dark hover:text-accent transition;
}

.bg-accent a {
    @apply !text-accent-dark;
}