@theme {
    --color-accent: #3F8B65;
}

.fcksvp-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fcksvp-container__full {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
    scroll-behavior: smooth;
}