@theme {
    --color-background: #e9e3d3;
    --color-dark: #242424;
    --color-accent: #e4002b;
    --font-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.fcksvp-container {
    width: calc(100% - 6vw);
    max-width: clamp(1050px, 84vw, 1150px);
    margin: 0 auto;
    padding: clamp(15px, 3vw, 30px) clamp(15px, 5vw, 80px);
    background-color: white;
}

.fcksvp-container__2 {
    width: calc(100% - 6vw);
    max-width: clamp(1150px, 84vw, 1350px);
    margin: 0 auto;
}

.fcksvp-section {
    @apply my-16 md:my-24;
}

html {
    scroll-behavior: smooth;
}