@theme {
    --color-accent: #F99CBC;
    --color-accent-dark: #4F035D;
    --font-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.fcksvp-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fcksvp-container__full {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fcksvp-section {
    @apply my-16 md:my-24;
}

html {
    scroll-behavior: smooth;
}
